@mixin container($name, $size) {
  @container #{$name} (width < #{$size}) {
    @content;
  }
}

.parent {
  //   container-name: list;
  //   container-type: inline-size;
  // container:이름 / 타입;
  container: list / inline-size;

  border: 1px solid red;
  padding: 20px;
  width: 80vw;

  .child {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 1px solid blue;
  }
}

@container list (width < 500px) {
  .child {
    font-size: 30px;
    color: blue;
  }
}

.parent2 {
  &.type1 {
    container: gallery / inline-size;
    .child {
      container: child / inline-size;
    }
  }
  display: grid;
  gap: 20px;
  width: 80vw;
  margin: auto;

  .child {
    display: flex;
    gap: 40px;
    @include container("gallery", 500px) {
      font-size: 30px;
    }

    &:nth-child(even) {
      .photo {
        order: 1;
      }
    }
  }

  .photo {
    width: 300px;
    aspect-ratio: 16/9;
    background: lightgray;
    @include container(child, 300px) {
      background: tomato;
    }
  }

  .text-type1 {
    flex: 1;
    @container style(--color:true) {
      color: pink;
    }
  }
}
